@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Transitions */
    --transitionFast: 0.25s;
    --transitionMedium: 0.5s;
    --transitionSlow: 1s;
    --transitionUltraSlow: 4s;
    
    /* Texts */
    --defaultFont: 'Poppins', sans-serif;
    font-family: var(--defaultFont) !important;

    /* Default Configs */
    --headerHeight: 3.5em;
    --footerHeight: 2.5em;

    --borderWidth: 2px;
    --borderRadius : 0.25em;

    /* Colors */
    --backgroundColor: #171a21;
    --backgroundColorFaded: #00000080;

    --themeColor: #f8912a;
    --textColor: #f8912a;

    --shadowColor: #ffbc2980;
    --shadowColorActive: #ffbc29bf;

    --textShadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 0 black;
}

@media (max-width: 768px) {
    :root {
        --headerHeight: 4.5em;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--backgroundColor);
}

::-webkit-scrollbar-thumb {
    margin-right: 5px;
    background: var(--themeColor);
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--backgroundColor);
    color: var(--themeColor);

    overflow-x: hidden;
}

*:not(i), *:not(i):before, *:not(i):after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

a {
    color: var(--themeColor);
}

a.td-none {
    text-decoration: none;
}

hr.vr {
    height: var(--borderWidth);
    width: 100%;
    
    border-color: var(--themeColor);
}

button, input, textarea {
    font-family: var(--defaultFont) !important;
}

@keyframes pulseBoxShadow {
    0%, 100% {
        box-shadow: 0 0 0 transparent;
    }
    40%, 60% {
        box-shadow: 0 0 10px var(--shadowColor);
    }
}

@keyframes pulseTextShadow {
    0%, 100% {
        text-shadow: 0 0 0 transparent;
    }
    40%, 60% {
        text-shadow: 0 0 10px var(--shadowColor);
    }
}